.row .col {
  padding: 2rem;
  border-radius: 10px;
  background-color: #130011;
  border: none;
  box-shadow: 0 0 15px #b800b8;
}

.row .grupo {
  max-width: 600px;
  padding: 1rem;
}

.animate__animated {
  color: white;
  text-shadow: 3px 3px 7px #b800b8;
  border-radius: 10px;
  font-weight: bolder;
}

.curso h2 {
  padding-top: 2rem;
  font-size: 5rem;
  transition: 300ms;
  font-weight: bolder;

}
.curso h2:hover {
  text-shadow: 3px 3px 11px #b800b8;
  color: white;
}
.curso h3 {
  font-size: 5rem;
  transition: 300ms;
  font-weight: bolder;

}
.curso h3:hover {
  text-shadow: 3px 3px 11px #b800b8;
  color: white;
}
.curso p {
  font-size: 3.5rem;
  user-select: none;
  transition: 300ms;
  font-weight: bolder;
  padding-bottom: 1rem;

}
.curso p:hover {
  text-shadow: 3px 3px 11px #b800b8;
  color: white;
}

.curso hr {
  color: #b800b8;
}

.curso h4 {
  font-size: 4.5rem;
  font-weight: bold;
  transition: 300ms;
  user-select: none;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.curso h4:hover {
  text-shadow: 3px 3px 11px #b800b8;
  color: white;
}

.integrantes .info-integrante {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  text-align: center; /* Espacio entre la imagen y el título */
  margin-left: 2.5rem;
}
.integrantes .info-integrante img {
  width: 180px; /* Ajusta el ancho máximo de la imagen según tu preferencia */
  height: auto; /* Para mantener la proporción */
  border-radius: 50%;
  box-shadow: 3px 3px 7px #b800b8;
}

.integrantes .info-integrante h3 {
  color: white;
  font-size: 3.5rem;
  justify-content: center;
}

.integrantes .contacto-integrante p {
  margin: 1rem auto;
  text-align: left;
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  user-select: none;
  margin-left: 2rem;
}

.integrantes .contacto-integrante p i {
  font-size: 2rem;
  padding: 0.5rem;
}

.integrantes .contacto-integrante p i:hover {
  color: blueviolet;
}

.integrantes .contacto-integrante p a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.5rem;
  font-weight: 500;
}

.integrantes .contacto-integrante p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 580px) {
  .integrantes .info-integrante img {
    display: none;
  }
  .integrantes .contacto-integrante p {
    margin-left: 0;
    margin: 0;
    font-size: 1rem;
  }
  .integrantes .contacto-integrante p i {
    font-size: 1.4rem;
  }
  .integrantes .contacto-integrante p a {
    font-size: 1rem;
  }

  .integrantes .info-integrante h3 {
    font-size: 2.5rem;
  }

  .curso h4 {
    font-size: 15vw;
    padding-bottom: 2rem;
  }
}
