* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Space Grotesk", sans-serif;
}

body {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  margin: 0 auto;
}

p {
  font-size: 20px;
  font-weight: 500;
}

h1,
h2,
h3 {
  user-select: none;
}

i {
  color: white;
  transition: 400ms;
}

br {
  user-select: none;
}

h3 {
  font-weight: 600;
}

.contenido .col {
  margin-right: 2rem; /* Ajusta el valor según sea necesario */
  border: #b800b8;
}

/* Para evitar que el último elemento tenga margen derecho */
.contenido .col:last-child {
  margin-right: 0;
}

/* Barra de navegacion */

h1.flexbox {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  color: white;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

nav {
  background-color: #b800b8;
  height: 64px;
  user-select: none;
}

.navbar-nav {
  margin-right: 1rem;
}

.nav-link {
  font-size: 1.5rem;
  color: white;
  transition: 400ms;
  user-select: none;
  font-weight: 500;
}

nav .nav-link {
  background-color: #b800b8;
  margin-right: auto;
  padding: 12px;
}

.navbar-collapse {
  text-align: right;
  display: flex;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  transition: 400ms;
}

.navbar-toggler {
  border: 2px solid rgb(255, 255, 255);
  transition: 300ms;
}

.navbar-toggler:hover {
  border: 2px solid rgb(0, 0, 0);
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

nav .nav-link:hover {
  color: #3b0058;
}

/* Hero */

.hero button {
  font-size: 23px;
  background-color: #b800b8;
  position: absolute;
  top: 125px;
  transition: 400ms;
  transform: translate(-50%, -50%);
  user-select: none;
}

.hero button:hover {
  color: white;
  border: 1px solid white;
  background-color: none;
}

/* Info */

.contenido,
.info .contenido {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9px;
  justify-content: center;
  background-color: #650094;
}

.info p {
  color: white;
  max-width: 950px;
}

.contenido h4 {
  color: #3b0058;
  font-weight: bold;
}

/* Contenido */

.contenido .row {
  width: 100%;
  margin: 3% 0;
}

.contenido .col {
  padding: 1.5rem;
}

#ejercicios,
#guia,
#rutinas,
#nutricion,
#faq,
#grupo30,
#iframe,
#extras {
  background-color: white;
  border: 5px solid #b800b8;
  border-radius: 10px;
  user-select: none;
}

#guia p,
#nutricion p {
  user-select: text;
}

.contenido h2 {
  font-size: 2.5rem;
}

.contenido .btn {
  background-color: #650094;
  color: white;
  margin: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  transition: 700ms;
  font-family: sans-serif;
}

.contenido .btn:hover {
  background: white;
  border: 1px solid #3b0058;
  color: #3b0058;
}

/* Musculos */

#botones-musculos .btn {
  font-size: 1.7rem;
}

#botones-musculos {
  margin-bottom: 0.5rem;
}

/* Rutinas */

#botones-rutinas .btn {
  font-size: 2.2rem;
  margin: 7rem 10px;
}

#botones-rutinas {
  justify-content: center;
  align-items: center;
}

/* FAQ */

.faq {
  max-width: 800px;
}

#faq form {
  margin: 25px auto;
  width: 90%;
  background-color: #650094;
  padding: 20px;
  border: 1px solid black;
  border-radius: 40px;
}

#faq legend {
  color: white;
  user-select: none;
}

#enviar-btn {
  color: white;
  background: none;
  border: 1px solid white;
}

#enviar-btn:hover {
  color: #b800b8;
  background-color: white;
}

.respuestas .btn {
  margin-top: 1rem;
  font-size: 1.2rem;
}

/* Guia */

#guia p {
  margin: 1rem;
}

#guia .mas .btn {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

/* Nutricion */

#nutricion h2 {
  margin-bottom: 0.7rem;
}

#nutricion .mas .btn {
  margin-top: 0.7rem;
}

/* Carousel */

.row .carousel {
  border: 5px solid #b800b8;
  border-radius: 10px;
  background-color: #3b0058;
}

.row .carousel .carousel-item {
  position: relative;
  background-color: #3b0058;
}

.row .carousel H2 {
  color: white;
  font-weight: bolder;
  font-size: 3.5rem;
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 80%; /* Ajusta el ancho máximo según tus necesidades */
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el texto que sobresale del ancho máximo */
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto sobresale */
}

.row .carousel .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row .carousel img {
  border-radius: 4rem;
  justify-content: center;
  padding: 1.4rem 0;
  width: 100%;
  filter: brightness(0.5);
}

/* Iframe */

#iframe iframe {
  height: 420px;
  width: 750px;
  border: 3px solid #3b0058;
}

/* Extras */

#extras .botonera {
  background-color: #3b0058;
  border: 3px solid #3b0058;
  border-radius: 10px;
  padding: 1rem;
}

#extras a.btn {
  background-color: #b800b8;
  font-size: 2.8rem;
  margin: 1.5rem 0;
}

#extras a.btn:hover {
  background-color: white;
}

/* Footer  */

footer {
  background-color: #b800b8;
  bottom: 0;
  user-select: none;
}

footer p {
  margin: 0px;
  margin-bottom: 3px;
  color: #100018;
}
/* 
footer i {
  color: #100018;
  font-size: 2.5rem;
  padding: 0 0.8rem;
  transition: 700ms;
  cursor: pointer;
}

footer .contacto i {
  color: black;
  font-size: 1rem;
  padding: 0 0.5rem;
  transition: 700ms;
  cursor: pointer;
}

footer i:hover {
  color: white;
} */

footer i.bi-check-square {
  color: white;
}

footer .bi-check-square:hover {
  color: black;
}

#año {
  padding-top: 3px;
  font-size: 1.5rem;
}

#mail {
  text-decoration: none;
}

#mail:hover {
  text-decoration: underline;
}

#contacto {
  color: black;
  font-size: 1.8rem;
}

#contacto i {
  font-size: 2rem;
  color: black;
}

#link-git {
  color: black;
  text-decoration: none;
  transition: 500ms;
}

#link-git:hover {
  color: white;
}


#integrantes {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  transition: 500ms;
  font-weight: bold;
}

#integrantes:hover {
  color: white;
}



/* Mediaquerys */
@media screen and (max-width: 1250px) {
  #iframe iframe {
    width: 550px;
  }
}

@media screen and (max-width: 1200px) {
  .hero button {
    display: none;
  }
  #faq form {
    width: 100%;
  }
  #botones-musculos .btn {
    font-size: 2rem;
  }
  #botones-rutinas .btn {
    font-size: 2rem;
    margin: 1rem;
  }
}

@media screen and (max-width: 1080px) {
  #botones-rutinas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 990px) {
  .contenido .col {
    margin-right: 0;
    margin: 0 auto;
    margin-bottom: 1rem;
    flex: auto;
    width: 100%;
  }
  .contenido .col:last-child {
    margin-bottom: 0;
  }

  #ejercicios h3 {
    padding-bottom: 20px;
  }
  #botones-musculos .btn {
    font-size: 2rem;
  }
  .mas .btn {
    font-size: 1.5rem;
  }
  #guia .mas .btn {
    margin-bottom: 1rem;
  }

  #botones-rutinas {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  #iframe iframe {
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  .contenido .row {
    flex: auto;
    width: 100%;
    margin: 1rem auto;
  }
  .contenido .row .col {
    flex: auto;
    width: 100%;
  }
  #ejercicios h3 {
    padding-bottom: 40px;
  }
  #botones-musculos .btn {
    font-size: 1.5rem;
    margin: 3px;
    flex: auto;
  }
  #nutricion h2 {
    margin-bottom: 2rem;
  }
  #guia h2 {
    margin-bottom: 2rem;
  }
  #guia .mas .btn {
    margin-top: 2rem;
  }
  #nutricion .mas .btn {
    margin-top: 2rem;
  }

  #botones-rutinas {
    padding: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #extras a.btn {

    font-size: 2rem;

  }
}

@media screen and (max-width: 768px) {
  #copyright {
    margin: 1.5rem auto;
  }

  #ejercicios h3 {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 623px) {
  .contenido .row .col {
    max-height: none;
  }

  #botones-musculos .btn {
    font-size: 1.5rem;
    margin: 3px 0;
  }

  #botones-rutinas .btn {
    font-size: 2rem;
    margin: 0.5rem auto;
  }

  .row .carousel {
    padding: 0;
  }

  .row .carousel .btn {
    font-size: 3vw;
  }

  .row .carousel H2 {
    font-size: 8vw;
  }

  .row .carousel img {
    width: 100%;
    margin: 0;
  }

  #guia p {
    margin: 0;
  }
  #guia {
    padding: 0;
  }
}