.row .faq {
    max-width: 800px;
    height: auto;
    margin: 0 auto;
  }
  .faq {
    padding: 3rem 2rem;
  }
  #faq form {
    margin: 45px auto;
    width: 100%;
  }
  .row .col {
    max-width: 500px;
  }
.contenido .col:last-child {
    margin-right: auto;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .faq {
        padding: 3rem .5rem;
      }
}
