.row .col {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
  }
  form div {
    color: white;
    font-size: 1.2rem;
  }
  h1 {
    color: white;
    font-size: 3.5rem;
    font-weight: bolder;
  }
  #image {
    display: none;
  }
  #file-label {
    display: flex;
    align-items: center;
  }
  #file-icon {
    margin-left: 10px;
  }

.contenido .col:last-child {
    margin-right: auto;
}

.row .col h2 {
    color: white;
}

.row .col hr {
    color: white;
}

label {
    color: white;
}

form div{
    text-align: start;
    font-size: 1.3rem;
    padding-bottom: 10px;
}

#file-label button.btn {
    color: #130011;
    background-color: white;
}   

#file-label button.btn:hover {
    background-color: #130011;
    border: none;
    border: 1px solid white;
    color: white;
}

#formularioContacto input,
#formularioContacto textarea,
#formularioContacto select{
    background-color: white;
    color: black;
}

#subirImagen i.bi{
    font-size: 2rem;
    margin-left: 1rem;
}

#subirImagen button {
    padding: 0 .8rem;
}


  @media screen and (max-width: 400px) {
    #formularioContacto div input{
        font-size: 1.2rem !important;
    }
}
