<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WikiFit</title>
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- css style -->
    <link rel="stylesheet" href="../../../styles.css" />
    <link rel="stylesheet" href="../../components.css" />
    <link rel="stylesheet" href="gym-playlist.css" />
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg" id="navbar">
      <!-- Tabla de Navegación -->
    </nav>

    <main class="contenido">
      <section class="row">
        <article class="col">
          <h2>
            GYM Playlist
          </h2>
        </article>
      </section>
      <section class="row">
        <article class="col" id="canciones">
          <h3>Mejores canciones para el gimnasio:</h3>
          <br />
          <a href="https://www.youtube.com/watch?v=btPJPFnesV4" target="_blank"
            ><i class="bi bi-music-note-beamed"></i>Eye of the Tiger -
            Survivor</a
          >
          <br />
          <br />
          <a href="https://www.youtube.com/watch?v=Pi3_Zs-oRUo" target="_blank"
            ><i class="bi bi-music-note-beamed"></i>Eminem - Till I Collapse</a
          >
          <br />
          <br />
          <a href="https://www.youtube.com/watch?v=7wtfhZwyrcc" target="_blank"
            ><i class="bi bi-music-note-beamed"></i>Imagine Dragons -
            Believer</a
          >
          <br />
          <br />
          <a href="https://www.youtube.com/watch?v=wagn8Wrmzuc" target="_blank"
            ><i class="bi bi-music-note-beamed"></i>Lady Gaga - Judas</a
          >
          <br />
          <br />
          <a href="https://www.youtube.com/watch?v=w7w0k4jrxfE" target="_blank"
            ><i class="bi bi-music-note-beamed"></i>Babydoll Speed</a
          >
          <br />
          <br />
          <a href="https://www.youtube.com/watch?v=A35EoIzmwAw" target="_blank"
            ><i class="bi bi-music-note-beamed"></i>Kevin Levron - Don't stop
            the Music</a
          >
          <br />
          <br />
          <a href="https://www.youtube.com/watch?v=dxytyRy-O1k" target="_blank"
            ><i class="bi bi-music-note-beamed"></i>Linkin Park - Burn It
            Down</a
          >
          <br />
          <br />
          <a href="https://www.youtube.com/watch?v=CD-E-LDc384" target="_blank"
            ><i class="bi bi-music-note-beamed"></i>Metallica - Enter Sandman</a
          >
          <br />
          <br />
          <a href="https://www.youtube.com/watch?v=VdphvuyaV_I" target="_blank"
            ><i class="bi bi-music-note-beamed"></i>Billy Idol - Rebel Yell</a
          >
          <br />
          <br />
          <a href="https://www.youtube.com/watch?v=5qm8PH4xAss" target="_blank"
            ><i class="bi bi-music-note-beamed"></i>50 Cent - In Da Club</a
          >
          <br />
          <br />
          <a href="https://www.youtube.com/watch?v=bESGLojNYSo" target="_blank"
            ><i class="bi bi-music-note-beamed"></i>Lady Gaga - Poker Face</a
          >
          <br />
          <br />
          <a href="https://www.youtube.com/watch?v=AkFqg5wAuFk" target="_blank"
            ><i class="bi bi-music-note-beamed"></i>Pantera - Walk</a
          >
          <br />
          <br />
          <a href="https://www.youtube.com/watch?v=bWXazVhlyxQ" target="_blank"
            ><i class="bi bi-music-note-beamed"></i>Rage Against The Machine -
            Killing In The Name</a
          >
          <br />
          <br />
          <a href="https://www.youtube.com/watch?v=4kHl4FoK1Ys" target="_blank"
            ><i class="bi bi-music-note-beamed"></i>Modern Talking - You're My
            Heart, You're My Soul</a
          >
          <br />
          <br />
          <a href="https://www.youtube.com/watch?v=RYnFIRc0k6E" target="_blank"
            ><i class="bi bi-music-note-beamed"></i>Rollin' - Limp Bizkit</a
          >
          <br />
        </article>
      </section>
    </main>

    <footer id="footer">
      <!-- Footer -->
    </footer>

    <style>
      .row .col {
        max-width: 600px;
      }
    </style>
    <script src="../../app.js"></script>
    <script src="../../../components.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
