.row .col {
    padding: 2rem;
}

#canciones a,
#canciones i {
    color: white;   
    text-decoration: none;
    font-size: 1.6rem;
    padding: .5rem;
    transition: 200ms;
}

#canciones a:hover{
    color: #b800b8;
    i {
        color: #b800b8;
    }
}

h3 {
    font-size: 2.3rem;
}

#canciones {
    user-select: none;
}

#gym-music {
    padding: 0;
}

#gym-music h2{
    color: white;
    font-size: 5rem;
    font-weight: bolder;
    
}


