<div class="container-fluid pt-3 pb-3">
  <div class="row">
    <div class="col-md-4 mt-2 contacto">
      <hr>
      <p id="repositorio">Repositorio <i class="bi bi-github"></i
        >:</p>
      <p>
        <a
          href="https://github.com/Fidel9vm/Fidel9vm.github.io"
          id="link-git" target="_blank"
          >Fidel9vm/Fidel9vm.github.io</a
        >
      </p>
      <hr>
    </div>
    <!-- <div class="col-md-4 mt-2 contacto">
      <p id="contacto">Contacto:</p>
      <hr />
      <p>
        <span style="user-select: none">e-mail:</span>
        <a
          href="mailto:fideljlopez9@gmail.com"
          style="color: black;"
          id="mail"
          >fideljlopez9@gmail.com</a
        >
        <a  onclick="copyText(event, 'fideljlopez9@gmail.com', this)"
          ><i class="bi bi-copy"></i
        ></a>
      </p>
      <p style="color: black">
        <span style="user-select: none">Teléfono:</span>+54 9 2657 30-4838
        <a onclick="copyText(event, '+54 9 2657 30-4838', this)"
          ><i class="bi bi-copy"></i
        ></a>
      </p>
    </div> -->
    <div class="col-md-4 mt-2" id="copyright" style="user-select: none;">
      <h2>WikiFit.</h2>
      <img src="../../../img/logo.png" alt="Mancuerna" width="130px"/>
      <br />
      <span id="año">©2024</span>
    </div>
    <div class="col-md-4 mt-2" id="grupo">
      <hr>
        <p>GRUPO 30</p>
        <p>Codo a Codo</p>
      <hr>
    </div>
    <!-- <div class="col-md-4 mt-3">
      <h4>Redes</h4>
      <hr />
      <a href="https://www.instagram.com/fiidel_09/" target="_blank"
        ><i class="bi bi-instagram"></i
      ></a>
      <a href="https://github.com/Fidel9vm/Fidel9vm.github.io" target="_blank"
        ><i class="bi bi-github"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/joaquin-fidel-lopez-1032ba255/"
        target="_blank"
        ><i class="bi bi-linkedin"></i
      ></a>
    </div> -->
  </div>
</div>
