<div class="carousel-inner">
    <div class="carousel-item active">
      <img src="components/ejercicios/musculos/ejercicios-img/press-banca.jpg" class="d-block w-100" alt="...">
      <h2>PRESS BANCA</h2>
      <a href="../../../components/ejercicios/musculos/pectorales.html#pressbanca" class="btn">Más información</a>
    </div>
    <div class="carousel-item">
      <img src="components/ejercicios/musculos/ejercicios-img/dominadas.jpg" class="d-block w-100" alt="...">
      <H2>DOMINADAS</H2><a href="../../../components/ejercicios/musculos/dorsales.html#dominadas" class="btn">Más información</a>
    </div>
    <div class="carousel-item">
      <img src="components/ejercicios/musculos/ejercicios-img/sentadilla-libre.jpg" class="d-block w-100" alt="...">
      <h2>SENTADILLA<br>LIBRE</h2>
      <a href="../../../components/ejercicios/musculos/cuadriceps.html#sentadillalibre" class="btn">Más información</a>
    </div>
    <div class="carousel-item">
      <img src="components/ejercicios/musculos/ejercicios-img/pesomuerto.jpg" class="d-block w-100" alt="...">
      <h2>PESO MUERTO</h2>
      <a href="../../../components/ejercicios/musculos/isquios.html#pesomuerto" class="btn">Más información</a>
    </div>
    <div class="carousel-item">
      <img src="components/ejercicios/musculos/ejercicios-img/curl-barra.png" class="d-block w-100" alt="...">
      <h2>CURL CON<br>BARRA</h2>
      <a href="../../../components/ejercicios/musculos/biceps.html#curlbarra" class="btn">Más información</a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>