
.row .col {
    max-width: 500px;
    background-color: #130011;
}

.row .col h2 {
    color: white;
}

.row .col hr {
    color: white;
}

label {
    color: white;
}

#formularioContacto div{
    text-align: start;
    font-size: 1.4rem;
    padding: .5rem;
}

.file-label.btn {
    color: #130011;
    background-color: white;
}   

.file-label.btn:hover {
    background-color: #130011;
    border: none;
    border: 1px solid white;
    color: white;
}

#formularioContacto input,
#formularioContacto textarea,
#formularioContacto select{
    background-color: white;
    color: black;
}

span.error {
    color: white;
    font-size: 2rem;
    display: block; 
    margin-top: 5px;
  }

  @media screen and (max-width: 400px) {
    #formularioContacto div input{
        font-size: 1.2rem !important;
    }
}
