
.row .col {
    max-width: 500px;
    background-color: #09000d;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #b800b8;
}

.row .col h2 {
    color: white;
}

.row .col hr {
    color: white;
}

label {
    color: white;
}

#formularioContacto div{
    text-align: start;
    font-size: 1.4rem;
    padding: .5rem;
}

.file-label.btn {
    color: #130011;
    background-color: white;
}   

.file-label.btn:hover {
    background-color: #130011;
    border: none;
    border: 1px solid white;
    color: white;
}

#formularioContacto input,
#formularioContacto textarea,
#formularioContacto select{
    background-color: white;
    color: black;
}

#subirImagen i.bi{
    font-size: 2rem;
    margin-left: 1rem;
}

#subirImagen button {
    padding: 0 .8rem;
}


  @media screen and (max-width: 400px) {
    #formularioContacto div input{
        font-size: 1.2rem !important;
    }
}
