.contenido .row .col {
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
  padding-bottom: 0;
  background-color: #09000d;
  color: white;
  box-shadow: 2px 2px 10px #b800b8;
  border-radius: 10px;
  user-select: none;
}

.table {
  background-color: #09000d;
  color: white;
}

.table thead th, 
.table tbody td {
  background-color: #09000d; 
  color: white; 
}

/* Estilos para los íconos de lápiz */
i.bi.bi-pencil-square {
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  color: white;
}

i.bi.bi-pencil-square:hover {
  color: #b800b8;
}

.contenido th {
  font-size: 1.3rem;
}

.contenido table {
  border: 1px solid #1b0027;
}

.table > :not(caption) > * > * {
  padding: 7px;
}

/* Encabezado */

.contenido .row .encabezado {
  margin: auto;
  max-width: 900px;
}

.recomendacion {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Crear Rutinas */

.contenido .crear-rutina h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.table {
  justify-content: center;
  margin: auto;
}

.crear-rutina .mb-3 {
  margin: 1rem;
}

.contenido .table button.eliminar-fila {
  background-color: #650094;
  margin: 0;
  i {
    color: white;
  }
}

.contenido .table button.eliminar-fila:hover {
  border: 1px solid black;
  background-color: white;
  i {
    color: black;
  }
}

.row .rutinas {
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#botones-rutinas a.btn {
  font-size: 2rem;
  margin: 3rem 10px;
  text-align: center;
  align-items: center;
}

/* seleccionar otro dia */

.ir-abajo {
  font-size: 1.2rem;
  color: #650094;
  text-decoration: none;
}

.ir-abajo:hover {
  text-decoration: underline;
}

.select-dias {
  margin-bottom: 4rem;
}

.select-dias .btn,
h3 {
  font-size: 2rem;
  color: white;
}

.select-dias .btn:hover {
  color: white;
  border: 1px solid white;
}

h3 span {
  color: white;
}

/* Ajuste de ancho para las columnas Series y Repeticiones */
th:nth-child(4),
td:nth-child(4),
th:nth-child(5),
td:nth-child(5) {
  width: 90px;
}
th:nth-child(1),
td:nth-child(1),
th:nth-child(1),
td:nth-child(1) {
  width: 0;
}

th:nth-child(6),
td:nth-child(6) {
  width: 0;
}

/* Estilo para los botones de tren */
.btn-group {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}

.btn-group .btn {
  border-radius: 10px;
  width: 50px;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 5px;
  background-color: #650094;
}

/* Estilos adicionales para los botones de tren */

.btn-group .btn.active {
  color: black;
  background-color: white;
  border-color: black;
}

@media screen and (max-width: 700px) {
  #botones-rutinas a.btn{
    margin: 1rem;
  }
}

/* Estilos para dispositivos con un ancho máximo de 600px */
@media screen and (max-width: 600px) {
  .section-row {
    max-width: none; /* Eliminar el ancho máximo */
    margin: 0; /* Eliminar los márgenes */
    padding: 0; /* Eliminar el relleno */
  }

  .contenido .row .encabezado,
  .contenido .crear-rutina {
    max-width: 100%; /* Ajustar el ancho máximo */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 0; /* Eliminar el relleno */
  }
  .contenido .row .encabezado {
    padding: 1rem;
  }

  .contenido .table th,
  .contenido .table td {
    font-size: 0.8rem; /* Reducir el tamaño de la fuente de las celdas de la tabla */
  }
}
